# See https://help.github.com/ignore-files/ for more about ignoring files.

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Sonarlint plugin
.idea/sonarlint

# IDE plugins
.idea/markdown-navigator*/**

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.webpack
.next
dist

.DS_Store
.sls-simulate-registry

# Builds
build
.firebase
coverage/

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# misc
.env*
!.env.build.example

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# storybook
storybook-static
